<div class = "container-fluid sticky_footer home-banner d-flex align-items-center  justify-content-center">
  <div class="content-banner d-flex flex-column align-items-center ">
    <h1 >Search an old car you'd like!</h1>
    <button class="btn btn-primary btn-lg">Check our offers!</button>
  </div>
</div>
